{% extends "sym.html.twig" %}

{% block head %}
    {% include 'main/header.tpl.html' %}
    <link href="{{ conf.assets_admin }}css/editor.css" rel="stylesheet">
  	<script src="{{ conf.assets_admin }}js/libs/head.min.js"></script>
{% endblock %}

{% block content %}
<div class="sym-center sym-admin-container sym-start-page">
<div class="logo">Symétrie</div>
	<h1>Liste des pages</h1>
	<ul>
	{% for key in conf.get_real_routes %}
	        <li><a href="{{ conf.admin_conf_base }}{{ key }}">{{ key }} {% if key == "/" %}(Homepage){% endif %}</a></li>
	    {% endfor %}
	</ul>
	<input type="submit" id="addpage" value="Ajouter une page">

	<div class="addpage">
		<form action="" method="post">
			<select name="model">
			{% for model in conf.modelList %}
				{% if model != "index" and model != "slices" %}
					<option value="{{ model }}">{{ model }}</option> 
				{% endif %}
	    	{% endfor %}
			</select> <input type="text" name="pagename" placeholder="Url de la nouvelle page" size="25" /> 
			<input type="submit" value="ADD PAGE">
		</form>
		
	</div>
</div>

{% if flash is empty %}{% else %}
 <div class="sym-flash">{{ flash }}</div>
{% endif %}

<script type="text/javascript">
		var Conf = Conf || {};

			Conf.url = "{{ conf.admin_conf_url }}";

			// Load required scripts.	
			head.js( 
				"{{ conf.assets_admin }}js/libs/jquery-1.10.2.min.js",
	        	function(){
	            	$('body').addClass('ready');
	            	$('.sym-flash').addClass('sym-hide');

	            	$('.sym-admin-container #addpage').on('click',function() {
		          	if($('.sym-admin-container .addpage').hasClass('active')) {
						$('.sym-admin-container .addpage').removeClass('active');
					} else {
						$('.sym-admin-container .addpage').addClass('active');
					}      
		      	});
	            }
	        );
</script>
{% endblock %}