<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% include 'main/header.tpl.html' %}
        <link href="{{ conf.assets_admin }}css/editor.css" rel="stylesheet">
		<script src="{{ conf.assets_admin }}js/libs/head.min.js"></script>
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
        {% endblock %}
    </head>
    <body class="{{ conf.get_route_info.model }}">
    	{% include 'admin/editorControls.html.twig' %}
        {% block content %}

        {% endblock %}

        {% if flash is empty %}{% else %}
		<div class="sym-flash">{{ flash }}</div>
		{% endif %}

		<script type="text/javascript">
		var Conf = Conf || {};

			Conf.url = "{{ conf.admin_conf_url }}";
			Conf.urlUpload = "{{ conf.url_upload }}";
			Conf.model = "{{ uri['model'] }}";
			Conf.id = "{{ uri['id'] }}";

			// Load CSS
			head.load( 
	        	"{{ conf.assets_admin }}css/vendor/zenpen/css/style.css",
	        	"{{ conf.assets_admin }}css/vendor/dropzone.css"
	        );
			// Load required scripts.	
			head.js( 
				"{{ conf.assets_admin }}js/libs/jquery-1.10.2.min.js",
				"{{ conf.assets_admin }}js/vendor/dropzone.js",
				"{{ conf.assets_admin }}js/vendor/jsoneditor.js",
				"{{ conf.assets_admin }}js/extra.js",
				"{{ conf.assets_admin }}js/vendor/zenpen/js/editor.js",
	        	function(){
	            	editor.init(extra.init());	    			
	            }
	        );
	        
	        
        </script>
    </body>
</html>